.about {
    font-size: 18px;
    color: #1e0101;
    line-height: 1.6;
    margin-bottom: 20px;
    border: 2px solid #333;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

strong {
    font-weight: bold;
}